{% extends 'grids/base.html' %}
{% load compress %}

{% block body_class %}index{% endblock %}
{% block content_wrapper %}

<div id="gridpak">

    <ul class="horizontal" id="tabs">
        <li class="cur"><a class="open" href="#">0 - 760px</a><a class="close" href="#">x</a></li>
        <li><a class="open" href="#">0 - 760px</a><a class="close" href="#">x</a></li>
    </ul> <!-- // #tabs -->

    <div id="options">

        <div>
            <label for="id_col_num">No. of columns:</label>
            <input id="id_col_num" type="number" value="7">
        </div>
        <div>
            <label for="id_gutter_width">Gutter width:</label>
            <input id="id_gutter_width" type="number" value="7">
            <select id="id_gutter_type">
                <option value="px">px</option>
                <option value="pc">%</option>
            </select>
        </div>
        <div>
            <label for="id_padding_width">Padding width:</label>
            <input id="id_padding_width" value="7">
            <select id="id_padding_width">
                <option value="px">px</option>
                <option value="pc">%</option>
            </select>
        </div>

    </div> <!-- // #options -->

    <div id="rule"></div>

    <div id="browser">

        <div id="handle" class="ui-resizable-handle ui-resizable-e"></div>

        <div id="grids">

            <div class="grid">
                <div class="col" style="width:16.666666667%; padding:7px; border-right-width:7px;"><span class="width">13%</span></div>
                <div class="col" style="width:16.666666667%; padding:7px; border-right-width:7px;"><span class="width">13%</span></div>
                <div class="col" style="width:16.666666667%; padding:7px; border-right-width:7px;"><span class="width">13%</span></div>
                <div class="col" style="width:16.666666667%; padding:7px; border-right-width:7px;"><span class="width">13%</span></div>
                <div class="col" style="width:16.666666667%; padding:7px; border-right-width:7px;"><span class="width">13%</span></div>
                <div class="col" style="width:16.666666667%; padding:7px;"><span class="width">13%</span></div>
            </div>

        </div> <!-- // #grids -->

    </div> <!-- // #browser -->

</div> <!-- // #gridpak -->

{% endblock %}
