{% extends 'grids/base.html' %}
{% load compress %}

{% block body_class %}index{% endblock %}
{% block content_wrapper %}

<div id="gridpak">

    <ul class="horizontal" id="tabs">
        <li id="new_grid"><a href="#">New breakpoint</a></li>
    </ul> <!-- // #tabs -->

    <div id="options">

        <div>
            <label for="id_col_num">No. of columns:</label>
            <input data-grid-attr="colNum" id="id_col_num" type="number" min="1">
        </div>
        <div>
            <label for="id_gutter_width">Gutter width:</label>
            <input data-grid-attr="gutterWidth" id="id_gutter_width" type="number" min="0" step="0.1">
            <div class="select">
                <select data-grid-attr="gutterType" id="id_gutter_type">
                    <option value="px">px</option>
                    <option value="%">%</option>
                </select>
            </div>
        </div>
        <div>
            <label for="id_padding_width">Padding width:</label>
            <input data-grid-attr="paddingWidth" id="id_padding_width" type="number" min="0" step="0.1">
            <div class="select">
                <select data-grid-attr="paddingType" id="id_padding_type">
                    <option value="px">px</option>
                    <option value="%">%</option>
                </select>
            </div>
        </div>

    </div> <!-- // #options -->

    <div id="rule"></div>

    <div id="browser">

        <div id="browser_handle" class="ui-resizable-handle ui-resizable-e"></div>
        <ul id="grid_list"></ul> <!-- // #grids -->

    </div> <!-- // #browser -->

</div> <!-- // #gridpak -->

<script type="text/template" id="grid_template">

    <div class="grid<%= (current) ? ' cur' : '' %>" style="<%= (gutterType == 'px') ? 'margin-left:-' + gutterWidth + gutterType : '' %>;">

        <div class="boundary" style="width:<%= maxWidth %>px;">
            <div class="marker ui-resizable-handle ui-resizable-e"></div>
        </div>

        <div class="columns">
            <% var i=0; for(i; i<colNum; i++) { %>

                <div class="col" style="width:<%= colWidth %>%; border-left-width:<%= (gutterType == 'px') ? gutterWidth : 0 %>px; margin-left:<%= (gutterType == '%' && i > 0) ? gutterWidth : 0 %>%; padding:0 <%= paddingWidth + paddingType %>;">
                    <div class="visible"></div>
                    <span class="width"><%= Math.round(colWidth * 100)/100  %></span>
                </div><!-- // .col -->

            <% } %>
        </div><!-- // .columns -->

    </div> <!-- // .grid -->
</script>

<script type="text/template" id="grid_tab_template">
    <li class="<%= (current) ? 'cur' : '' %>">
        <a href="#" class="open"><%= minWidth %> - <%= (maxWidth) ? maxWidth : '∞' %></a>
        <a href="#" class="delete" title="Delete this grid">x</a>
    </li>
</script>

<script type="text/javascript">
    var aGrid = false;
    var theGrids = [
        {
            minWidth: 0, 
            colNum: 2, 
            paddingWidth: 1.5, 
            paddingType: '%', 
            gutterWidth: 2,  
            gutterType: '%', 
            baselineHeight: 22,
            current: true
        },
        {
            minWidth: 320, 
            colNum: 4, 
            paddingWidth: 10, 
            paddingType: 'px', 
            gutterWidth: 10,  
            gutterType: 'px', 
            baselineHeight: 22,
            current: false
        },
        {
            minWidth: 700, 
            colNum: 10, 
            paddingWidth: 1, 
            paddingType: '%', 
            gutterWidth: 1.2,  
            gutterType: '%', 
            baselineHeight: 22,
            current: false
        }
    ]
</script>

{% endblock %}
