{% extends 'grids/base.html' %}
{% load compress %}

{% block body_class %}index{% endblock %}
{% block content_wrapper %}

<div id="gridpak">

    <ul class="horizontal" id="tabs"></ul> <!-- // #tabs -->

    <div id="options">

        <div>
            <label for="id_col_num">No. of columns:</label>
            <input id="id_col_num" type="number" value="7">
        </div>
        <div>
            <label for="id_gutter_width">Gutter width:</label>
            <input id="id_gutter_width" type="number" value="7">
            <select id="id_gutter_type">
                <option value="px">px</option>
                <option value="pc">%</option>
            </select>
        </div>
        <div>
            <label for="id_padding_width">Padding width:</label>
            <input id="id_padding_width" value="7">
            <select id="id_padding_width">
                <option value="px">px</option>
                <option value="pc">%</option>
            </select>
        </div>

    </div> <!-- // #options -->

    <div id="rule"></div>

    <div id="browser">

        <div class="handle"></div>

        <ul id="grid_list">

        </ul> <!-- // #grids -->

    </div> <!-- // #browser -->

</div> <!-- // #gridpak -->

<script type="text/template" id="grid_template">
    <div class="grid<%= (current) ? ' cur' : '' %>">
        <% var i=0; for(i; i<col_num; i++) { %>
            <div class="col" style="width:<%= col_width %>%; border-left-width:<%= (gutter_type == 'px') ? gutter_width : 0 %>px; margin-left:<%= (gutter_type == '%' && i > 0) ? gutter_width : 0 %>%; padding:0 <%= padding_width + padding_type %>;">
                <span class="width"><%= col_width %></span>
            </div><!-- // .col -->
        <% } %>
    </div><!-- // .cols -->
</div>
</script>

<script type="text/template" id="grid_tab_template">
    <li>
        <a href="#">HELLO</a>
        <a href="#" class="delete">x</a>
    </li>
</script>

<script type="text/javascript">
    var theGrids = [
        {
            min_width: 0, 
            col_num: 6, 
            col_width: 16.666666667,
            padding_width: 1.5, 
            padding_type: '%', 
            gutter_width: 2,  
            gutter_type: '%', 
            baseline_height: 22,
            current: true
        }
    ]
</script>

{% endblock %}
