@import "config", "reset";


/*

    [PROJECT NAME]

    @version: 1.0
    @author: Erskine Design

    CONTENTS ----------

        - BODY
            - ACCESSIBILITY NAVIGATION
        - DEFAULT STYLING
            - FORMS
            - TABLES
        - HEADLINES
        - LINKS
        - LAYOUT
            - HEADER & BRANDING
            - FOOTER
        - NAVIGATION
            - HORIZONTAL CLASS
            - PRIMARY NAVIGATION
        - GLOBAL ELEMENTS & COMPONENTS

    -------------------

*/


// @start BODY -------------------- //

html,
body {
    height:100%;
}
body {
    background-color:$white;
    color:$black;
    font:$normal percentage($basefont/16) $sans1;
    line-height:(20 / $basefont);
}

    // @start ACCESSIBILITY NAVIGATION -------------------- //
    
    ul#nav_access {
        list-style:none;
        margin:0;
        position:relative;

        li {
            height:0;
        }
        a {
            background:#FFC;
            border:2px solid #DDD;
            display:block;
            font-size:11px;
            font-weight:bold;
            left:-9999px;
            padding:10px;
            position:absolute;
            top:0;

            &:hover,
            &:focus {
                color:#333;
                left:0;
            }
        } // ul#nav_access a

    } // ul#nav_access

    // Don't outline for nav_access users
    #nav_pri:focus,
    #content_wrapper:focus {
        outline:0;
    }

    // @end ACCESSIBILITY NAVIGATION //

// @end BODY //



// @start DEFAULT STYLING -------------------- //

address,
dl,
fieldset,
figure,
form,
hr,
ol,
p,
pre,
table,
ul {
    // margin-bottom:;

    & + h2 {
        // padding-top:;
    }
    & + h3 {
        // padding-top:;
    }
    & + h4 {
        // padding-top:;
    }
    // & + h5 {
    //     padding-top:;
    // }
    // & + h6 {
    //     padding-top:;
    // }

}

ul {
    

    li {
        
    }
}

ol {
    

    li {
        
    }
}

dl {
    

    dt {
        
    }
    dd {
        
    }
}

hr {
    
}

blockquote {
    

    p {
        
    }
    cite {
        
    }
}

code,
pre {
    font-family:monospace;
}
code {
    
}
pre {
    

    code {
        
    }
}

abbr {
    

    &:hover {
        cursor:help;
    }
}

del {
    text-decoration:line-through;
}

b,
strong {
    font-weight:bold;
}
em,
i {
    font-style:italic;
}

sup {
    vertical-align:super;
}
sub {
    vertical-align:sub;
}

small {
    
}

figure {
    

    img {
        
    }
    figcaption {
        
    }
}

iframe,
img,
object,
video {
    height:auto;
    max-width:100%;
}

    // @start FORMS -------------------- //

    form {
        

        dl {
            

            dt {
                
            }
            dd {
                
            }
        }

        ul {
            
        }
        li {
            
        }

    } // form

    fieldset {
        
    }

    label {
        

        em {
            
        }
    } // label

    input[type="text"],
    textarea {
        
    }
    input[type="checkbox"],
    input[type="radio"] {
        
    }
    textarea {
        
    }

    .error input,
    .error textarea {
        
    }

    form .cta_button {
        
        button {
            border:0;
            cursor:pointer;
            vertical-align:baseline;
        }
    }

    // @end FORMS //

    // @start TABLES -------------------- //

    table {
        
    }

    caption {
        
    }
    legend {
        
    }

    tr {
        
    }

    th,
    td {
        
    }
    th {
        
    }
    td {
        
    }

    thead {
        

        th {
            
        }
        td {
            
        }
    } // thead

    tbody {
        

        th {
            
        }
        td {
            
        }
    } // tbody

    // @end TABLES //

// @end DEFAULT STYLING //



// @start HEADLINES -------------------- //

h1,
h2,
h3,
h4,
h5,
h6 {
    
}

h1 {
    font-size:calc-em($baseh1);
    font-weight:$semibold;
    // line-height:;
    // margin-bottom:calc-em(20, $baseh1);
}

h2 {
    font-size:calc-em($baseh2);
    // line-height:;
    // margin-bottom:calc-em(20, $baseh2);
}

// @end HEADLINES //



// @start LINKS -------------------- //

a {
    text-decoration:none; 

    &:hover,
    &:focus {
        
    }
}

// @end LINKS //



// @start LAYOUT -------------------- //

div#page {
    height:100%;
    position:relative;
}

div#content_wrapper {
    
}

.content_pri {
    
}

.content_sec {
    
}

    // @start HEADER & BRANDING -------------------- //

    #header {
        background:$black; 
        color:$grey1;
        overflow:hidden;
        padding:calc-em(20) calc-em(23);

        a {
            color:$grey1;
        }
        h1,
        h2 {
            float:left;
        }
        h1 a {
            color:$white;
        }
    }

    // @end HEADER & BRANDING //

    // @start FOOTER -------------------- //

    #footer {
        border-top:1px solid #bbb;
        background:$white;
        padding:calc-em(18) calc-em(20);
        overflow:hidden;
        
        .credit {
            float:right;
        }
    }

    #download {
        float:left;
        background:#D43033;
        border:0;
        color:$white;
        padding:calc-em(10) calc-em(20);
    }

    // @end FOOTER //

// @end LAYOUT //



// @start NAVIGATION -------------------- //

    /* @start HORIZONTAL CLASS -------------------- */

    .horizontal {
        list-style:none;

        dd,
        dt,
        li {
            @include inline-block;
            margin-left:0;
        }
        a {
            display:block;
        }
    }
    
    // @end HORIZONTAL CLASS //
    
    // @start PRIMARY NAVIGATION -------------------- //
    
    ul#nav_pri {
        float:right;
        

        li {
            
        }
        a {
            

            &:hover,
            &:focus {
                
            }
        }
    }

    // @end PRIMARY NAVIGATION //

// @end NAVIGATION //



// @start GLOBAL ELEMENTS & COMPONENTS -------------------- //

.hide {
    display:none;
}

.left {
    float:left;
}
.right {
    float:right;
}

.clearfix {
    @include clearfix;
}

// @end GLOBAL ELEMENTS & COMPONENTS //

// @start GRIDPAK 

#gridpak {
    background:url(/static/images/site/grid.png) repeat 0 0;
    position:relative;
}

#tabs {
    display:block;
    overflow:hidden;
    background:#353535;
    font-size:calc-em(11);
    padding:0 calc-em(24);

    li {

        a {
            display:inline-block;
            color:$white;
            padding:calc-em(10, 11);
            &:hover,
            &:focus {
                background-color:#474747;
            }


        }
        &.cur {
            background:$white;
            color:#353535;
        }
        &.cur a {
            color:#353535;
        }
    }
}

#options {
    background-color:#fbfbfb;
    padding:calc-em(20) calc-em(23);
    overflow:hidden;

    div {
        float:left;
    }

    input {
        width:3em;
    }
}

#rule {
    border-top:1px solid #999;
    border-bottom:1px solid #999;
    height:calc-em(20);
    background:#e5e5e5 url(/static/images/site/rule.png) no-repeat calc-em(20) 0;
}

#browser {
    position:relative;
    width:960px;

    .ui-resizable-e {
        width:12px;
        height:100%;
        padding:1px 0;
        position:absolute;
        top:0;
        right:0;
        background:rgba(0,0,0,0.3);
        display:block;
        cursor:col-resize;
    }

    .handle {
        display:block;
        z-index:99;
        position:absolute;
        cursor:col-resize;
        top:calc-em(20) * -1;
        right:-5px;
        margin-top:-24px;
        background:url(/static/images/site/icons/handle.png) no-repeat 0 0;
        width:11px;
        height:20px;
    }
}

#grid_list {
    margin-left:calc-em(20);
    margin-top:calc-em(20);
    height:20em;
}
.grid {
    background:$white;
    height:20em;
    border:1px solid $black;
    display:none;

    &.cur {
        display:block;
    }

    .col {
        float:left;
        height:20em;
        background:#FDCFD0;
        @include box_sizing(border-box);
        @include prefixer (background-clip, padding-box);
        border-left:0px solid rgba(255,255,255,0);
        position:relative;

        .width {
            font-size:calc-em(10);
            position:absolute;
            bottom:-1em;
            left:0;
            height:1em;
            display:block;
            width:100%;
            text-align:center;
        }
    }
}

// @end GRIDPAK
